body {
    font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
    /* reset browser default */
    margin: 0;
    padding: 0;
}

/* header */
header {
    background-color: black;
    display: flex; 
    position: fixed; 
    width: 100%;
    /* for up-down alignment */
    align-items: center;
    /* for left-right alignment */
    justify-content: space-between;
}

#logo {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

nav li {
    list-style: none;
    margin-right: 10px;
    padding: 0px 15px;
    display: inline-block;
    text-decoration: underline;
}

nav li a {
    text-decoration: none;
    color: seashell;
}

/* mission */
.mission {
    margin: 0 auto;
    display: flex;
    background-image: url("../images/img-mission-background.jpg");
    width: 90%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
    justify-content: center;
}

.mission-text {
    margin: auto;
    background-color: black;
    width: 100%;
    /* padding: 0px 20px; */
}

/* tea of the month */
.tea-of-the-month {
    width: 80%;
    margin: 0 auto;
    /* background-color: red; */
}

.tea-of-the-month-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tea-of-the-month-box {
    margin: 0 15px;
}

.tea-of-the-month-box img {
    height: 200px;
    width: 300px;
}

/*  store locations */
.store-locations {
    width: 80%;
    min-height: 500px;
    min-height: 500px;
    margin: 0 auto;
    background-image: url("../images/img-locations-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.store-locations h2 {
    padding-top: 70px;
    width: 100%;
    margin-bottom: 15px;
}

.locations-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.location-box {
    background-color: black;
    opacity: 1;
    width: 300px;
    margin: 10px 20px;
    padding: 8px 0;
}

/* contact info */
.contact-info {
    min-height: 200px;
}

/* footer */
footer {
    text-align: left;
    margin-left: 20px;
}